@model IEnumerable<GitHubSearcher.Models.User>

@{
    ViewBag.Title = "Index";
}

<P> Welcome </P>
<br />
@using (Html.BeginForm("GetAsync", "Home", FormMethod.Get))
{
    <form>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInput">Name</label>
                <input type="text" class="form-control mb-2" name="searchString" id="inlineFormInput" placeholder="Search a Github Name...">
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </div>
    </form>
}
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.node_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.avatar_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gravatar_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.html_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.followers_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.following_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gists_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.starred_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subscriptions_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.organizations_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.repos_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.events_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.received_events_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.site_admin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.blog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.public_repos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.public_gists)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.followers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.following)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updated_at)
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.node_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.avatar_url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gravatar_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.html_url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.followers_url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.following_url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gists_url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.starred_url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.subscriptions_url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.organizations_url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.repos_url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.events_url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.received_events_url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.site_admin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.blog)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.bio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.public_repos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.public_gists)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.followers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.following)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.created_at)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.updated_at)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    }

</table>
