@model GitHubSearcher.ViewModels.gitHubDataViewModel


@{
    ViewBag.Title = "Main Page";
}
<title> Welcome </title>
<br />


@using (Html.BeginForm("GetAsync", "Home", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <form>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInput">Name</label>
                <input type="text" class="form-control mb-2" name="searchString" id="inlineFormInput" placeholder="Search a Github Name...">
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </div>
    </form>
}
<br />
@{
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User.avatar_url)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.repos_url)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.location)
                </th>
            </tr>
        </thead>

        @if (Model != null)
        {
            <tr>
                <td>
                    @Model.User.avatar_url
                </td>

                <td>
                    @Model.User.repos_url
                </td>
                <th>
                    @Model.User.name
                </th>
                <td>
                    @Model.User.location
                </td>
            </tr>
        }
    </table>
    <br />
    <h2>Top 5 Star Gazers</h2>
    if (Model != null)
    {
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Repo[0].name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Repo[0].stargazers_count)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Repo[0].full_name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Repo[0].description)
                    </th>
                </tr>
            </thead>
    

            @if (Model != null)
            {
                foreach (var repos in Model.Repo.OrderByDescending(x => x.stargazers_count).Take(5))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => repos.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => repos.stargazers_count)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => repos.full_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => repos.description)
                        </td>
                    </tr>
                }
            }
        </table>
        <br />       
            <H2 class="active">Top 5 Star Gazer Count Listed:</H2>
        
            if (Model != null)
            {
            <ul>
                @foreach (var repo in Model.Repo.OrderByDescending(x => x.stargazers_count).Take(5))
                {

                    <li>@repo.stargazers_count</li>
                    <li>@repo.description</li>
                    <li>@repo.full_name</li>
                    <li>@repo.name</li>

                }
            </ul>

            }
        
    }
}






