@model GitHubSearcher.Models.User

@{
    ViewBag.Title = "Main Page";
}
<title>Top 5 Repo's </title>
@{ 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.avatar_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.repos_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
    </tr>

    @if (Model != null)
    {
        <tr>
            <td>
                @Model.avatar_url
            </td>

            <td>
                @Model.repos_url
            </td>
            <td>
                @Model.name
            </td>
            <td>
                @Model.location
            </td>
        </tr>
    }

</table>
}
<title> Welcome </title>
<br />
@using (Html.BeginForm("GetAsync", "Home", FormMethod.Get))
{
    <form>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInput">Name</label>
                <input type="text" class="form-control mb-2" name="searchString" id="inlineFormInput" placeholder="Search a Github Name...">
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </div>
    </form>
}
<br />
@{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.avatar_url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.repos_url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
        </tr>

        @if (Model != null)
        {
            <tr>
                <td>
                    @Model.avatar_url
                </td>

                <td>
                    @Model.repos_url
                </td>
                <td>
                    @Model.name
                </td>
                <td>
                    @Model.location
                </td>
            </tr>
        }

    </table>

}
