@model IEnumerable<GitHubSearcher.Models.User>

<P> Welcome </P>
<br />
<form>
    <div class="form-row align-items-center">
        <div class="col-auto">
            <label class="sr-only" for="inlineFormInput">Name</label>
            <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Search a Github Name...">
        </div>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </div>    
</form>
<br />
<div class="form-horizontal">

    <hr />
    <div class="form-group">


        <table class="table table-responsive" style="width:400px">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.avatar_url)
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.location)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.avatar_url)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
