@model GitHubSearcher.ViewModels.gitHubDataViewModel

@{
    ViewBag.Title = "Main Page";
}
<br />
@using (Html.BeginForm("GetAsync", "Home", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <form>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInput">Name</label>
                <input type="text" class="form-control mb-2" pattern="[A-Za-z]+" name="searchString" size="50" id="inlineFormInput" placeholder="Search a Github Name ex: joebloggs" required /><span asp-validation-for="searchString"></span>
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </div>
    </form>
}
<br />
<H4 class="active" style="color:#0063ff">GitHub User:</H4>
@{
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User.avatar_url)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.repos_url)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.location)
                </th>
            </tr>
        </thead>

        @if (Model != null)
        {
            <tr>
                <td>
                    @Model.User.avatar_url
                </td>

                <td>
                    @Model.User.repos_url
                </td>
                <th>
                    @Model.User.name
                </th>
                <td>
                    @Model.User.location
                </td>
            </tr>
        }
    </table>
    <br />
    <h4 class="active" style="color:#0063ff">Top 5 Star Gazers</h4>
    if (Model != null)
    {
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Repo[0].name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Repo[0].stargazers_count)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Repo[0].full_name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Repo[0].description)
                    </th>
                </tr>
            </thead>

            @if (Model != null)
            {
                foreach (var repos in Model.Repo.OrderByDescending(x => x.stargazers_count).Take(5))
                {
                    <tr>
                        <td>
                            <a href="http://@repos.html_url" target="_blank">@Html.DisplayFor(modelItem => repos.name)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => repos.stargazers_count)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => repos.full_name)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => repos.description)
                        </td>
                    </tr>
                }
            }
        </table>
    }
    <br />
    <H4 class="active" style="color:#0063ff">Top 5 Star Gazer Count Listed:</H4>
    if (Model != null)
    {
        <ul>
            @foreach (var repo in Model.Repo.OrderByDescending(x => x.stargazers_count).Take(5))
            {
                <dl>
                    <dt>@repo.stargazers_count</dt>
                    <dd>@repo.description</dd>
                    <dd>@repo.full_name</dd>
                    <dd>@repo.name</dd>
                </dl>
            }
        </ul>

    }

}






